.customBox{
	background-color: green;
	min-height: 100px;
	font-weight: 800;
	font-size: 30px;
}
.customBox1{
	background-color: red;
	min-height: 100px;
	font-weight: 800;
	font-size: 30px;
}